/* media queries */

/* from 850px to 1050px*/

@media only screen and (max-width: 1050px) {
  .about-me-text {
    width: 20%;
  }
  .portfolio-text {
    width: 20%;
  }
  .project {
    height: 26rem;
  }
  .contact .button {
    width: 24%;
    padding: 5px 0;
  }
}

/* from 767px to 850px */

@media only screen and (max-width: 850px) {
  .contact-section {
    min-height: 79vh;
  }
  .section-wrapper {
    min-height: 80vh;
  }
  .skill-text {
    width: 24%;
  }
}

/* from 670px to 767px */

@media only screen and (max-width: 767px) {
  html {
    font-size: 56.25%;
  }
  header .button {
    padding: 0.4rem 2rem;
    font-size: 2rem;
  }
  .mobile-nav-icon {
    display: inline;
  }
  .navigation i {
    padding-left: 0;
  }
  .nav-links {
    display: none;
  }
  .nav-links a {
    display: block;
    padding-bottom: 1.2rem;
    font-size: 2rem;
  }
  .about-me {
    margin: 0 auto;
    width: 75%;
  }
  .bar-container {
    height: 2.6rem;
  }
  .skill-text {
    height: 2.6rem;
  }
  .more-skill--text-wrapper {
    width: 100%;
  }
  .more-skill--text {
    width: 30%;
    margin: 0 auto;
    background: transparent;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .more-skills {
    margin-top: 8rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: white;
  }
  .more-skills:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .contact-section {
    min-height: 72vh;
  }
  .section-wrapper {
    min-height: 72vh;
  }
}

/* from 575px to 670px */

@media only screen and (max-width: 670px) {
  .project {
    width: 50%;
  }
  .about-me-text {
    width: 25%;
  }
}

/* from 481px to 575px */

@media only screen and (max-width: 575px) {
  .header--sub-heading {
    font-size: 3.8rem;
  }
  .about-me-text {
    width: 35%;
  }
  .more-skill--text {
    width: 40%;
  }
  .portfolio-text {
    width: 35%;
  }
  .contact .button {
    font-size: 1.4rem;
  }
}

/* from 380px to 481px */

@media only screen and (max-width: 481px) {
  header p {
    margin-bottom: 2rem;
  }
  .header-text {
    font-size: 1.85rem;
    font-weight: 700;
  }
  .header--sub-heading {
    font-size: 2.8rem;
  }
  .sticky {
    padding: 0 1rem;
  }
  #about {
    padding: 0 1rem;
  }
  .navigation {
    padding: 1.2rem 0;
  }
  .navigation i {
    font-size: 2rem;
  }
  .navigation a {
    padding-right: 0.2rem;
  }
  .about-me {
    width: 100%;
  }
  .about-me-text {
    width: 45%;
  }
  .about-me-desc {
    padding: 0;
  }
  .skill-bar--column {
    padding: 0;
  }
  .skill-text {
    width: 37%;
  }
  .more-skill--text {
    width: 55%;
  }
  .portfolio-text {
    width: 40%;
  }
  .project {
    width: 100%;
    height: 38rem;
    margin-bottom: 3rem;
  }
  .contact-section {
    min-height: 69vh;
  }
  .contact-form {
    top: 34%;
  }
  .section-wrapper {
    min-height: 69vh;
    -webkit-clip-path: polygon(
      50% 34%,
      100% 2%,
      100% 64%,
      100% 100%,
      0 100%,
      0% 60%,
      0 2%
    );
    clip-path: polygon(
      50% 34%,
      100% 2%,
      100% 64%,
      100% 100%,
      0 100%,
      0% 60%,
      0 2%
    );
  }
  .contact .button {
    width: 33%;
  }
  .contact form {
    width: 80%;
    margin: -3rem auto 0rem auto;
  }
}

@media only screen and (max-width: 380px) {
  .header-text {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .header--sub-heading {
    font-size: 2.6rem;
  }
  .about-me-text {
    width: 45%;
  }
  .more-skill--text {
    width: 70%;
  }
  .project {
    height: 28rem;
  }
}
