        @keyframes moveInLeft {
            0% {
                opacity: 0;
                transform: translateX(-10rem);
            }
            80% {
                transform: translateX(1rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes moveInRight {
            0% {
                opacity: 0;
                transform: translateX(10rem);
            }
            80% {
                transform: translateX(-1rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(3rem);
            }
            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        *,
        *::after,
        *::before {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        html {
            font-size: 62.5%;
        }

        body {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            /*font-size: 16px;*/
            line-height: 1.7;
            color: #777;
        }

        /* heading styling starts */

        .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 6rem;
        }

        .heading-primary--main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
        }

        .heading-primary--sub {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 0.8rem;
            word-spacing: 2rem;
            animation: moveInRight 1s ease-out;
        }

        .heading-secondary {
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right, #00b0ff, #0d47a1);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: 0.2rem;
            transition: all 0.2s;
        }

        .heading-secondary:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
        }

        .heading-tertiary {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right, rgba(255, 235, 59, 1), rgba(249, 168, 37, 1));
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: 0.2rem;
            transition: all 0.2s;
        }

        .heading-tertiary:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
        }

        .u-center-text {
            text-align: center !important;
        }

        .u-margin-bottom-small {
            margin-bottom: 1.5rem !important;
        }

        .u-margin-bottom-medium {
            margin-bottom: 4rem !important;
        }

        .u-margin-bottom-big {
            margin-bottom: 8rem !important;
        }

        .u-margin-top-big {
            margin-top: 8rem !important;
        }

        .u-margin-top-huge {
            margin-top: 10rem !important;
        }

        /* For Buttons */

        .btn,
        .btn:link,
        .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all 0.2s;
            position: relative;
            font-size: 1.6rem;
            border: none;
            cursor: pointer;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            background: #fff;
        }

        .btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

        .btn:active,
        .btn:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

        .btn--white::after {
            background-color: #fff;
        }

        .btn::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
        }

        .btn--animated {
            animation: moveInBottom 0.5s ease-out 0.75s;
            animation-fill-mode: backwards;
        }

        /* header styling starts */

        .header {
            height: 90vh;
            background-image: linear-gradient( to right bottom, rgba(0, 176, 255, 0.5), rgba(13, 71, 161, 0.8)), url(../assets/img/2.jpg);
            background-size: cover;
            background-position: top;
            position: relative;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
        }

        .header__logo-box {
            position: absolute;
            top: 1rem;
            left: 2.5rem;
        }

        .header__logo {
            height: 2.5rem;
        }

        .header__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        /* section about styling  */

        .section-about {
            background-color: #f7f7f7;
            padding: 6rem 0;
            margin-top: -20vh;
            z-index: 20;
        }

        /* section deature designing */

        .section-features {
            padding: 10rem 0;
            background-image: linear-gradient( to right bottom, rgba(229, 229, 229, 0.5), rgba(40, 180, 133, 0.6)), url(../assets/img/snow.jpg);
            background-size: cover;
            -webkit-clip-path: polygon(0 19%, 100% 5%, 100% 100%, 0% 100%);
            clip-path: polygon(0 19%, 100% 5%, 100% 100%, 0% 100%);
            padding-top: 17rem;
            margin-top: -15rem;
            padding-bottom: 4rem;
        }

        /* feature box designing sta */

        .feature-box {
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 1.5rem;
            padding: 2.5rem;
            height: 60vh;
            width: 45vh;
            background-position: top;
            text-align: center;
            border-radius: 0.8rem;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            transition: transform 0.3s;
            backface-visibility: hidden;
            display: inline-block;
        }

        .feature-box:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }

        .book-feature {
            background-image: linear-gradient( to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.8)), url(../assets/img/book-small.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .character-feature {
            background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8)), url(../assets/img/character-small.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .house-feature {
            background-image: linear-gradient( to right bottom, rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.8)), url(../assets/img/house-small.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .feature-heading {
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;
            color: #fff;
            top: 12rem;
            right: 2rem;
            width: 75%;
            margin-top: 14rem;
        }

        .feature-heading-span {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        .feature-heading-span--1 {
            background-image: linear-gradient( to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1));
        }

        .feature-heading-span--2 {
            background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1));
        }

        .feature-heading-span--3 {
            background-image: linear-gradient( to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
        }

        .feature-details {
            padding: 3rem;
        }

        .feature-details ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
        }

        .feature-details ul li {
            text-align: center;
            font-size: 2rem;
            padding: 1rem;
            color: white;
        }

        .feature-details ul li:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

        /* footer styling */

        .footer {
            background-color: #333;
            padding: 10rem 0;
            font-size: 1.4rem;
            color: #f7f7f7;
        }

        .footer__navigation {
            padding-top: 2rem;
            display: inline-block;
        }

        .footer__list {
            list-style: none;
        }

        .footer__item {
            display: inline-block;
        }

        .footer__item:not(:last-child) {
            margin-right: 1.5rem;
        }

        .footer__link:link,
        .footer__link:visited {
            color: #f7f7f7;
            background-color: #333;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
        }

        .footer__link:hover,
        .footer__link:active {
            color: #55c57a;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
            transform: rotate(5deg) scale(1.3);
        }

        .footer__copyright {
            padding-top: 2rem;
            /* float: right; */
            word-spacing: 0.5rem;
        }

        /* book table */

        .book-table-container {
            box-sizing: border-box;
            line-height: 1.7;
            color: black;
            padding: 3rem;
            background-image: linear-gradient( to right bottom, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.5)), url(../assets/img/book-all.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100vh;
            font-size: 1.5rem;
            word-spacing: 0.5rem;
        }

        .book-details-container {
            box-sizing: border-box;
            line-height: 1.7;
            color: #777;
            padding: 3rem;
        }

        /* single details of books page styling */

        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
        .book-row {
            display: flex;
            /* equal height of the children */
        }

        .book-col {
            flex: 1;
            /* additionally, equal width */
            max-height: 70vmin;
            padding: 1em;
            border: solid 1px black 0.7;
            padding-left: 10vmin;
        }

        .book-details {
            background: #2b5876;
            /* fallback for old browsers */
            background: linear-gradient(to right, #8579af, #2b5876), url("../assets/img/book.jpeg") no-repeat center;
            color: white;
            /*float: left;
		width:50%;
		box-sizing: border-box;
		padding: 3%;*/
            font-weight: normal;
            margin-right: 3px;
            border-right: 2px dashed white;
            overflow-y: scroll;
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            word-spacing: 0.4em;
            line-height: 2.4em;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
        }

        .character-details {
            /*background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);*/
            background-image: linear-gradient(to left, #09203f 0%, #537895 100%);
            /*float: left;
		width:50%;
		box-sizing: border-box;
		padding: 3%;
		height: 21.5em;*/
            color: white;
            border-left: 2px dashed black;
            overflow-y: scroll;
            letter-spacing: 0.1em;
            word-spacing: 0.6em;
            line-height: 3.2em;
        }

        }

        .book-header {
            margin-top: 3%;
            padding: 1%;
        }

        a {
            color: #2061A5;
        }

        /* pagination syling */

        .pagination {
            display: -ms-flexbox;
            display: flex;
            padding-left: 0;
            list-style: none;
            font-family: "Lato", sans-serif;
        }

        .pagination > li > a,
        .pagination > li > span {
            border: 0;
            border-radius: 50% !important;
            transition: all .3s;
            padding: 0.8rem 1.2rem;
            margin: 0 3px;
            min-width: 30px;
            height: 30px;
            line-height: 30px;
            color: #999999;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            background: transparent;
        }

        .pagination > .active > a,
        .pagination > .active > a:focus,
        .pagination > .active > a:hover,
        .pagination > .active > span,
        .pagination > .active > span:focus,
        .pagination > .active > span:hover {
            background-color: #007bff;
            border-color: #007bff;
            color: #FFFFFF;
            box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
        }

        .pagination > li > a {
            font-size: 1.4rem;
        }

        dl,
        ol,
        ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .character-pagination-container > li > span {
            color: white;
        }

        .character-pagination-container > li > span {
            color: white;
        }

        .house-table {
            transition: all 0.3s ease-in;
        }

        .character-row {
            display: flex;
            /* equal height of the children */
        }

        .character-col {
            flex: 1;
            /* additionally, equal width */
            max-height: 70vmin;
            padding: 1em;
            border: solid 1px black 0.7;
            padding-left: 10vmin;
            min-height: 70vmin;
        }

        .character-details {
            background: #2b5876;
            /* fallback for old browsers */
            background: linear-gradient(to right, #8579af, #2b5876), url("../assets/img/character.jpeg ") no-repeat center;
            color: white;
            font-weight: normal;
            margin-right: 3px;
            border-right: 2px dashed white;
            overflow-y: scroll;
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            word-spacing: 0.4em;
            line-height: 4rem;
            padding-top: 0;
            margin-top: 0;
            border-left: none;
            border-top-left-radius: 3%;
            border-bottom-left-radius: 3%;
        }

        .other-details {
            background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
            color: white;
            border-left: 2px dashed black;
            overflow-y: scroll;
            letter-spacing: 0.1em;
            word-spacing: 0.6em;
            line-height: 3em;
            border-right: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 3%;
            border-top-right-radius: 3%;
        }

        .book-header {
            margin-top: 3%;
            padding: 1%;
        }

        .character-details li {
            margin-left: 5rem;
        }

        .form__input {
            font-size: 1.5rem;
            font-family: inherit;
            color: inherit;
            padding: 0.8rem 2rem;
            border-radius: 2px;
            background-color: rbga(#fff, 0.5);
            border: none;
            border-bottom: 3px solid transparent;
            width: 50%;
            display: block;
            transition: all .3s;
        }

        .form__input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid #55c57a;
        }

        .form__input::-webkit-input-placeholder {
            color: #999;
        }

        .form__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            margin-top: .7rem;
            display: block;
            color: #fff;
            transition: all .3s;
        }

        .form__input:placeholder-shown + .form__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        .details-col {
            color: white;
            font-weight: normal;
            height: 80vh;
            overflow-y: scroll;
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            word-spacing: 0.4em;
            line-height: 4rem;
            padding-top: 0;
            margin-top: 0;
        }

        .book-details-col {
            background: linear-gradient(to right, rgba(133, 121, 175, 0.8), rgba(43, 88, 118, 1)), url("../assets/img/details-book-2.jpg") no-repeat center;
            background-size: cover;
            background-position: top;
        }

        .book-details-1-col {
            background: linear-gradient(to right, rgba(133, 121, 175, 1), rgba(43, 88, 118, 0.7)), url("../assets/img/details-book-1.jpg") no-repeat center;
            background-position: top;
        }

        .character-details-col {
            background: linear-gradient(to right, rgba(133, 121, 175, 0.8), rgba(43, 88, 118, 1)), url("../assets/img/details-character-2.jpg") no-repeat center;
            background-size: cover;
            background-position: top right;
        }

        .character-details-1-col {
            background: linear-gradient(to right, rgba(133, 121, 175, 1), rgba(43, 88, 118, 0.7)), url("../assets/img/details-character-1.jpg") no-repeat center;
            background-position: top;
        }

        .details-1-col {
            color: white;
            font-weight: normal;
            height: 80vh;
            overflow-y: scroll;
            font-size: 1.5rem;
            letter-spacing: 0.1em;
            word-spacing: 0.4em;
            line-height: 4rem;
            padding-top: 0;
            margin-top: 0;
        }

        .house-details-col {
            background: linear-gradient(to right, rgba(78, 52, 46, 0.9), rgba(161, 136, 127, 0.85)), url("../assets/img/details-house.jpg") no-repeat;
            background-size: cover;
            background-position: top left;
        }

        .house-details-1-col {
            background: linear-gradient(to right, rgba(78, 52, 46, 0.9), rgba(161, 136, 127, 0.85)), url("../assets/img/details-house-1.jpg") no-repeat;
            background-size: cover;
            background-position: top;
        }

        .table {
            background-color: white;
            opacity: 0.9;
        }

        .form__input {
            width: 60%;
        }

        .bg-light {
            background: transparent !important;
        }

        .navbar a {
            color: white !important;
        }

        .character-table-container {
            box-sizing: border-box;
            line-height: 1.7;
            color: black;
            padding: 3rem;
            background-image: linear-gradient( to right bottom, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.5)), url(../assets/img/character-all1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100vh;
            font-size: 1.5rem;
            word-spacing: 0.5rem;
        }

        .book-details-container .navbar a {
            color: black !important;
            padding-right: 3%;
        }

        .details-container .navbar a {
            color: black !important;
        }

        .character-table-container .table {
            opacity: 0.88;
        }

        .house-table-container {
            box-sizing: border-box;
            line-height: 1.7;
            color: black;
            padding: 3rem;
            background-image: linear-gradient( to right bottom, rgba(161, 136, 127, 0.7), rgba(78, 52, 46, 0.8)), url(../assets/img/house-all.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100vh;
            font-size: 1.5rem;
            word-spacing: 0.5rem;
        }

        .house-table-container .table {
            opacity: 0.88;
        }

        .house-table-container .pagination > .active > a,
        .pagination > .active > a:focus,
        .pagination > .active > a:hover,
        .pagination > .active > span,
        .pagination > .active > span:focus,
        .pagination > .active > span:hover {
            background-color: rgba(245, 124, 0, 1);
            border-color: rgba(245, 124, 0, 1);
            color: #FFFFFF;
            box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
        }

        .details-container {
            padding: 0 2rem;
        }

        body .row {
            margin-right: 0;
            margin-left: 0;
        }

        .home-container {
            padding: 0 3.5rem;
        }

        .footer__copyright {
            text-align: right;
        }

        /* media queries */

        @media only screen and (min-width: 1000px) {
            .navbar-brand {
                margin-right: 13rem;
            }

            .heading-primary--sub {
                margin-top: 5rem;
            }
        }

        @media only screen and (max-width: 720px) {
            .book-details-container {
                padding: 0;
            }

            .book-col {
                font-size: 2rem;
                line-height: 4.2rem;
                letter-spacing: 0;
                padding-left: 2rem;
                word-spacing: 0;
            }

            .heading-primary--main {
                font-size: 4.5rem;
                margin-bottom: 4.5rem;
                letter-spacing: 1.2rem;
            }

            .feature-heading {
                text-align: left;
            }

            .heading-primary--sub {
                font-size: 1.6rem;
                letter-spacing: 0.6rem;
            }

            .footer {
                padding: 6rem;
            }

            .form__input {
                width: 90%;
            }
        }

        @media only screen and (max-width: 550px) {
            .container {
                padding: 0rem 1rem;
                font-size: 1.2rem;
            }

            .home-container {
                padding: 0;
            }

            .heading-secondary {
                font-size: 1.6rem;
            }

            .heading-tertiary {
                font-size: 1.5rem;
            }

            .book-col {
                min-height: 70vh;
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }

            .book-row {
                display: inline-block;
            }

            .book-details-container .heading-secondary {
                font-size: 1.7rem;
            }

            .details-col {
                margin-bottom: 1.2rem;
            }

            .details-col {
                padding-left: 3rem;
                height: 55vh;
                margin-bottom: 2.2rem;
            }

            .details-1-col {
                padding-left: 3rem;
            }

            .heading-secondary {
                font-size: 1.4rem;
                padding-left: 1.5rem;
            }

            .book-details-container {
                padding: 0 2rem;
            }

            .section-features {
                clip-path: polygon(0 10%, 100% 5%, 100% 100%, 0% 100%);
                margin-top: -15rem;
            }
        }

        @media only screen and (max-width: 440px) {
            .heading-secondary {
                font-size: 3rem;
                line-height: 4rem;
            }

            .book-details-container {
                width: 100%;
            }

            .container-fluid {
                padding: 0;
            }

            .footer__copyright {
                text-align: center;
            }

            .footer__navigation {
                display: inline-block;
            }

            .footer__copyright {
                display: inline-block;
            }

            .footer {
                padding: 3rem;
                text-align: center
            }

            .form__input {
                width: 100%;
            }

            .details-col {
                padding-left: 3rem;
                height: 55vh;
                margin-bottom: 2.2rem;
                word-spacing: 0.2em;
                line-height: 3.3rem;
            }

            .details-container {
                padding: 0 1rem;
            }

            .details-1-col {
                padding-left: 3rem;
            }

            .heading-secondary {
                font-size: 1.4rem;
                padding-left: 1.5rem;
            }

            .pagination > li > a,
            .pagination > li > span {
                padding: 0 0.8rem;
            }

            .house-table-container {
                font-size: 1.3rem;
            }
        }

        @media only screen and (max-width: 380px) {
            .container {
                padding: 0rem 1rem;
                font-size: 1.2rem;
            }

            .heading-secondary {
                font-size: 1.4rem;
                padding-left: 3rem;
            }

            .heading-tertiary {
                font-size: 1.2rem;
            }

            .book-col {
                min-height: 70vh;
                margin-bottom: 2rem;
                font-size: 1.3rem;
            }

            .pagination > li > a,
            .pagination > li > span {
                padding: 0 0.25rem;
            }
