<div class="house-table-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#/">HOME</a>
            <a class="navbar-brand" href="#/books">BOOKS</a>
            <a class="navbar-brand" href="#/characters">CHARACTERS</a>
            <a class="navbar-brand" href="#/houses">HOUSES</a>
        </nav>
    </div>
    <div class="row" style="margin-bottom:0; margin-left:0; margin-top:4.5rem">
        <div class="col-sm-6" style="margin-bottom:0">
            <div class="form__group">
                <input type="text" class="form__input" placeholder="Search by House Name" id="house" ng-model="houseName">
                <label for="house" class="form__label">Search by House Name</label>
            </div>
        </div>
        <div class="col-sm-6" style="margin-bottom:0">
            <div class="form__group">
                <input type="text" class="form__input" placeholder="Search by Region" id="region" ng-model="region">
                <label for="region" class="form__label">Search by Region</label>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name
                    <a href="" ng-click="filter='name'; reverse = !reverse">
                        <i class="fa fa-fw fa-sort" style="color: black"></i>
                    </a>
                </th>
                <th>Region
                    <a href="" ng-click="filter='region'; reverse = !reverse">
                        <i class="fa fa-fw fa-sort" style="color: black"></i>
                    </a>
                </th>
                <th>Words</th>
                <th>Details</th>
            </tr>
        </thead>
        <div>
            <tbody dir-paginate="house in houseController.houses | filter:houseName | filter:region | orderBy:filter:reverse | itemsPerPage: pageSize" current-page="currentPage">
                <tr>
                    <td>{{house.name || 'Not Available'}}</td>
                    <td>{{house.region || 'Not Available'}}</td>
                    <td>{{house.words || 'Not Available'}}</td>
                    <td><a ng-href="#/houseDetails/{{house.index}}">Click here</a></td>

                </tr>
            </tbody>
        </div>
    </table>
    <div style="text-align:right">
        <dir-pagination-controls template-url="assets/js/dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>
<style>
    .pagination>li>a {
        color: white;
    }

</style>
