<div class="home-container">
    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main"> Ice and fire</span>
                <span class="heading-primary--sub">books characters houses</span>
            </h1>
            <a ng-href="#/#features" class="btn btn--white btn--animated" style="margin-right:2rem">explore</a>

        </div>
    </header>

    <section class="section-about" style="background:#e5e5e5;
    margin-top:-8rem">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary" style="margin-top:8rem">
                data loaded from <span><a href="https://anapioficeandfire.com/" target="blank"> an api of ice and fire</a></span>
            </h2>
        </div>
    </section>

    <section id="features" class="section-features">

        <div class="row" style="text-align:center">
            <div class="col-sm-4 feature-picture ">
                <a href="#/books">
                    <div class="feature-box book-feature">
                        <h3 class="feature-heading">
                            <span class="feature-heading-span feature-heading-span--1">Books</span>
                        </h3>

                    </div>
                </a>
            </div>

            <div class="col-sm-4 feature-picture">
                <a href="#/characters">
                    <div class="feature-box character-feature">
                        <h3 class="feature-heading">
                            <span class="feature-heading-span feature-heading-span--2">characters</span>
                        </h3>

                    </div>
                </a>
            </div>

            <div class="col-sm-4 feature-picture">
                <a href="#/houses">
                    <div class="feature-box house-feature">
                        <h3 class="feature-heading">
                            <span class="feature-heading-span feature-heading-span--3">houses</span>
                        </h3>

                    </div>
                </a>
            </div>
        </div>

    </section>

    <footer class="footer">
        <div class="row" style="border-top:2px solid grey">
            <div class="col-sm-6">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Instagram</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Twitter</a></li>
                        <li class="footer__item"><a href="https://github.com/shubdev07/" target="_blank" class="footer__link">Github</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Youtube</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="footer__copyright">
                    Application developed by <a href="https://github.com/shubdev07/" target="_blank" class="footer__link">Shubham Karmakar</a>
                </p>
            </div>
        </div>
    </footer>
</div>
<style>


</style>
